// =============================================================================
// TYPOGRAPHY
// =============================================================================
$font-body: "allerregular";
$font-primary: "allerbold";
$font-secondary: "aller_lightregular";
$font-armata: "armataregular";

// =============================================================================
// FONT SIZE
// =============================================================================
$body-fs: 15px;
$fs-10: 0.667em;
$fs-12: 0.8em;
$fs-13: 0.867em;
$fs-14: 0.933em;
$fs-15: 1em;
$fs-16: 1.067em;
$fs-17: 1.133em;
$fs-18: 1.2em;
$fs-20: 1.317em;
$fs-22: 1.433em;
$fs-25: 1.667em;
$fs-27: 1.8em;
$fs-30: 2em;

// =============================================================================
// COLOR
// =============================================================================
$light-dark: #f0f0f0;
$black: #000;
$lighter-black: #383838;
$dark: #2e2e2e;
$lighter-dark: #4e4e4e;
$white: #fff;
$grey: #eaeaea;
$dark-grey: #7d7d7d;
$dark-grey-1: #555555;
$dark-grey-2: #888888;
$light-grey: #bababa;
$lighter-grey: #c3c3c3;
$blue: #4585f2;
$border-color: #ededed;

$red: #da3e3e;
$light-dark: #3d3d3d;
$orange: #e6d330;
$green: #5cc992;