/*------------------------------------------------------------------*/
/* Typography */

body {
  background: #f4f4f4;
  color: $dark-grey-1;
  font: {
    family: $font-body;
    size: $body-fs;
  };
}

h1, h2, h3 {
  color: $dark;
  line-height: normal;
  margin: 0 0 20px;
}

a {
  color: $blue;

  &:hover, &:focus {
    color: $dark-grey;
    outline: none;
    text-decoration: none;
  }
}

address {}

label {
  font-weight: 100;
}

blockquote {
  border-left-color: $blue;
  font-size: 1em;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

.form-text {
  @include border-radius(3px);

  color: $dark-grey-2;

  &:hover, &:focus {
    color: $dark-grey-2;
  }
}

input, button, select, textarea {
  background: $white;
  border: 1px solid $border-color;
  padding: 7px 10px;
  line-height: 1;
  max-width: 100%;

  &:focus {
    border-color: $dark-grey-2;
    outline: none;
  }
}
input, select, textarea {
  /*min-height: 40px;*/
}

textarea {
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

input[type="file"] {
  width: 100%;
}

select {
  border-color: #d8d8d8;
  color: #777;
  min-width: 220px;

  @include border-radius(3px);

  padding: 7px 10px;
}

iframe {
  max-width: 100%;
  border: none;
}

p {
  margin-bottom: 20px;
}

pre {
  border-radius: 0;
}


input[type="submit"] {
    background: #4585f2;
    padding: 8px;
    color: #fff;
}