/*---- html ------*/
/* line 5, ../../../sass/colors/yellow/style.scss */
a {
  color: #e6d330;
}
/* line 7, ../../../sass/colors/yellow/style.scss */
a:hover, a:focus {
  color: #7d7d7d;
}

/* line 13, ../../../sass/colors/yellow/style.scss */
.node blockquote {
  border-left-color: #e6d330;
}
/* line 17, ../../../sass/colors/yellow/style.scss */
.node .blockquote-reverse,
.node blockquote.pull-right {
  border-right-color: #e6d330;
}

/*---- Block -----*/
/* line 26, ../../../sass/colors/yellow/style.scss */
.sidebar h2 {
  background: #e6d330;
}
/* line 31, ../../../sass/colors/yellow/style.scss */
.sidebar .item-list .quicktabs-tabs li a {
  background: #e6d330;
}
/* line 35, ../../../sass/colors/yellow/style.scss */
.sidebar .item-list .quicktabs-tabs li.active a {
  color: #e6d330;
}
/* line 44, ../../../sass/colors/yellow/style.scss */
.sidebar .item-list ul li a:hover, .sidebar .item-list ul li a:focus {
  color: #e6d330;
}
/* line 52, ../../../sass/colors/yellow/style.scss */
.sidebar .quicktabs-tabpage .views-field-title a {
  color: #e6d330;
}
/* line 54, ../../../sass/colors/yellow/style.scss */
.sidebar .quicktabs-tabpage .views-field-title a:hover, .sidebar .quicktabs-tabpage .views-field-title a:focus {
  color: #2e2e2e;
}
/* line 63, ../../../sass/colors/yellow/style.scss */
.sidebar ul.menu li a:hover, .sidebar ul.menu li a:focus {
  color: #e6d330;
}
/* line 68, ../../../sass/colors/yellow/style.scss */
.sidebar ul.menu li.expanded > a {
  color: #e6d330;
}
/* line 70, ../../../sass/colors/yellow/style.scss */
.sidebar ul.menu li.expanded > a:after {
  border-bottom: 5px solid #e6d330;
}

/* line 81, ../../../sass/colors/yellow/style.scss */
.faq-question.faq-qa-visible .active {
  color: #e6d330;
}

/* Login form */
/* line 90, ../../../sass/colors/yellow/style.scss */
#modalContent .popups-container .modal-header {
  background: #e6d330;
}
/* line 94, ../../../sass/colors/yellow/style.scss */
#modalContent .popups-container #modal-content form .form-submit {
  background: #c2c40f;
}
/* line 96, ../../../sass/colors/yellow/style.scss */
#modalContent .popups-container #modal-content form .form-submit:hover, #modalContent .popups-container #modal-content form .form-submit:focus {
  background: #e6d330;
}
/* line 101, ../../../sass/colors/yellow/style.scss */
#modalContent .popups-container #modal-content form .item-list li a:hover, #modalContent .popups-container #modal-content form .item-list li a:focus {
  color: #e6d330;
}

/*----- menu -----*/
/* line 114, ../../../sass/colors/yellow/style.scss */
.navbar-default ul.menu li a.active, .navbar-default ul.menu li a.active-trail, .navbar-default ul.menu li a:hover, .navbar-default ul.menu li a:focus {
  background: #e6d330;
}
/* line 125, ../../../sass/colors/yellow/style.scss */
.navbar-default ul.menu li.expanded ul.menu li a:hover, .navbar-default ul.menu li.expanded ul.menu li a:focus, .navbar-default ul.menu li.expanded ul.menu li a.active-trail {
  background: #fff;
  color: #e6d330;
}
/* line 133, ../../../sass/colors/yellow/style.scss */
.navbar-default ul.menu li.expanded ul.menu li.expanded ul.menu li a:hover, .navbar-default ul.menu li.expanded ul.menu li.expanded ul.menu li a:focus {
  background: #e6d330;
}

/*----- Navigation -----*/
/* line 149, ../../../sass/colors/yellow/style.scss */
.action-links li a {
  background: #e6d330;
}
/* line 151, ../../../sass/colors/yellow/style.scss */
.action-links li a:hover, .action-links li a:focus {
  background: #2e2e2e;
}
/* line 156, ../../../sass/colors/yellow/style.scss */
.action-links.action-links-field-collection-add li a {
  color: #e6d330;
}
/* line 158, ../../../sass/colors/yellow/style.scss */
.action-links.action-links-field-collection-add li a:hover, .action-links.action-links-field-collection-add li a:focus {
  background-color: transparent;
}

/* pager */
/* line 166, ../../../sass/colors/yellow/style.scss */
.item-list .pager li:hover a, .item-list .pager li:focus a, .item-list .pager .pager-current {
  background: #e6d330;
}
/* line 170, ../../../sass/colors/yellow/style.scss */
.item-list .pager li a:hover, .item-list .pager li a:focus {
  background-color: #e6d330;
}

/* Primary */
/* line 180, ../../../sass/colors/yellow/style.scss */
ul.primary li a:hover, ul.primary li a:focus, ul.primary li a.active {
  color: #e6d330;
}

/* line 189, ../../../sass/colors/yellow/style.scss */
.block-tagclouds .tagclouds-term a:hover, .block-tagclouds .tagclouds-term a:focus {
  background: #e6d330;
}

/* Back to top */
/* line 196, ../../../sass/colors/yellow/style.scss */
.btn-btt {
  background: #e6d330;
}
/* line 198, ../../../sass/colors/yellow/style.scss */
.btn-btt:hover, .btn-btt:focus {
  background: #2e2e2e;
}

/* Button sidebar link */
/* line 204, ../../../sass/colors/yellow/style.scss */
.button-sidebar-link {
  background: #e6d330;
}

/*----- Page -----*/
/* line 209, ../../../sass/colors/yellow/style.scss */
.form-submit,
.form-actions > a {
  background: #c2c40f;
  border-color: #c2c40f;
}
/* line 213, ../../../sass/colors/yellow/style.scss */
.form-submit:hover, .form-submit:focus,
.form-actions > a:hover,
.form-actions > a:focus {
  background: #e6d330;
  border-color: #e6d330;
}

/* Headline */
/* line 223, ../../../sass/colors/yellow/style.scss */
.headline .social-list li a:hover, .headline .social-list li a:focus {
  color: #e6d330;
}
/* line 229, ../../../sass/colors/yellow/style.scss */
.headline #block-search-form:hover:before {
  color: #e6d330;
}
/* line 236, ../../../sass/colors/yellow/style.scss */
.headline .block-menu ul.menu a:hover, .headline .block-menu ul.menu a:focus {
  color: #e6d330;
}

/* Header */
/* line 246, ../../../sass/colors/yellow/style.scss */
.header:after {
  background: #e6d330;
}

/* Search */
/* line 252, ../../../sass/colors/yellow/style.scss */
.search-wrapper {
  background: #e6d330;
}

/* Breadcrumb */
/* line 258, ../../../sass/colors/yellow/style.scss */
.breadcrumb a {
  border-bottom: 1px solid #e6d330;
}
/* line 260, ../../../sass/colors/yellow/style.scss */
.breadcrumb a:hover, .breadcrumb a:focus {
  color: #e6d330;
}

/* line 266, ../../../sass/colors/yellow/style.scss */
.section-title {
  background: url("images/bg-banner.jpg") no-repeat 50% 0 #d05a66;
}

/* Panel */
/* line 271, ../../../sass/colors/yellow/style.scss */
#panel-first {
  background: #fff;
  color: #7d7d7d;
}
/* line 274, ../../../sass/colors/yellow/style.scss */
#panel-first a {
  color: #e6d330;
}
/* line 276, ../../../sass/colors/yellow/style.scss */
#panel-first a:hover, #panel-first a:focus {
  text-decoration: underline;
}

/* line 287, ../../../sass/colors/yellow/style.scss */
#panel-second .block ul.menu li a:hover, #panel-second .block ul.menu li a:focus {
  color: #e6d330;
}
/* line 296, ../../../sass/colors/yellow/style.scss */
#panel-second .block .lang_dropdown_form .form-item .dd-select .dd-pointer-down {
  border-top-color: #e6d330;
}
/* line 299, ../../../sass/colors/yellow/style.scss */
#panel-second .block .lang_dropdown_form .form-item .dd-select .dd-pointer-up {
  border-bottom-color: #e6d330 !important;
}

/* line 313, ../../../sass/colors/yellow/style.scss */
#panel-footer ul.menu li a:hover, #panel-footer ul.menu li a:focus {
  color: #e6d330;
}
/* line 315, ../../../sass/colors/yellow/style.scss */
#panel-footer ul.menu li a:hover:before, #panel-footer ul.menu li a:focus:before {
  color: #e6d330;
}
/* line 322, ../../../sass/colors/yellow/style.scss */
#panel-footer a {
  color: #e6d330;
}
/* line 327, ../../../sass/colors/yellow/style.scss */
#panel-footer .views-field-title a:hover, #panel-footer .views-field-title a:focus {
  color: #e6d330;
}
/* line 334, ../../../sass/colors/yellow/style.scss */
#panel-footer .views-field-name .username,
#panel-footer .views-field-created .username {
  color: #e6d330 !important;
}
/* line 339, ../../../sass/colors/yellow/style.scss */
#panel-footer .social-list li a {
  color: #e6d330;
}

/* Forum */
/* line 351, ../../../sass/colors/yellow/style.scss */
#forum .forum-table td .forum-name a:hover, #forum .forum-table td .forum-name a:focus {
  color: #e6d330;
}

/* Footer */
/* line 366, ../../../sass/colors/yellow/style.scss */
#footer .block ul.menu li a:hover, #footer .block ul.menu li a:focus, #footer .block ul.menu li a.active {
  color: #e6d330;
}
/* line 374, ../../../sass/colors/yellow/style.scss */
#footer a:hover, #footer a:focus {
  color: #e6d330;
}

/* Forum advance */
/* line 381, ../../../sass/colors/yellow/style.scss */
.af-button-large,
.af-button-small,
.author-pane-link,
.forum-post-links ul.links li a {
  background: #e6d330;
}

/* line 390, ../../../sass/colors/yellow/style.scss */
.forum-table-topics td.views-field-title span:hover, .forum-table-topics td.views-field-title span:focus, .forum-table-topics td.views-field-title .topic-title:hover, .forum-table-topics td.views-field-title .topic-title:focus {
  color: #e6d330;
}

/* line 396, ../../../sass/colors/yellow/style.scss */
.topic-icon-hot-new:before,
.topic-icon-new:before,
.topic-icon-sticky:before,
td.forum-list-icon-new-posts span:before,
.forum-list-text-legend-new-posts:before {
  color: #e6d330 !important;
}

/* Table name and description on forum list and table header on topic list */
/* line 405, ../../../sass/colors/yellow/style.scss */
.forum-table-wrap .forum-table-superheader,
.forum-table-topics thead tr,
#forum .forum-table thead tr,
.forum-post-info,
#user-login h3,
#user-register-form h3,
#user-pass h3, .profile h3 {
  background: #e6d330 !important;
}

/* line 417, ../../../sass/colors/yellow/style.scss */
.forum-tools form > div:before {
  border-top: 5px solid #e6d330;
}

/* View */
/* line 426, ../../../sass/colors/yellow/style.scss */
.views-field-title a:hover, .views-field-title a:focus,
.views-field-subject a:hover,
.views-field-subject a:focus {
  color: #e6d330;
}

/* line 433, ../../../sass/colors/yellow/style.scss */
.views-field-name .username,
.views-field-created .username {
  color: #e6d330;
}

/* line 439, ../../../sass/colors/yellow/style.scss */
.forum-blog-view .views-row .views-field-title a:hover,
.forum-blog-view .views-row .views-field-title a:focus {
  color: #e6d330;
}

/* line 448, ../../../sass/colors/yellow/style.scss */
.views-field-field-tags .item-list ul li a:hover, .views-field-field-tags .item-list ul li a:focus {
  background: #e6d330;
}

/* line 458, ../../../sass/colors/yellow/style.scss */
.field-name-field-tags div,
.field-name-field-section div,
.field-name-field-category div {
  display: inline-block;
}
/* line 462, ../../../sass/colors/yellow/style.scss */
.field-name-field-tags div + div a:hover, .field-name-field-tags div + div a:focus,
.field-name-field-section div + div a:hover,
.field-name-field-section div + div a:focus,
.field-name-field-category div + div a:hover,
.field-name-field-category div + div a:focus {
  background: #e6d330;
}

/* line 470, ../../../sass/colors/yellow/style.scss */
.field-name-field-tags .field-items .field-item a:hover,
.field-name-field-tags .field-items .field-item a:focus,
.field-name-field-section .field-items .field-item a:hover,
.field-name-field-section .field-items .field-item a:focus,
.field-name-field-category .field-items .field-item a:hover,
.field-name-field-category .field-items .field-item a:focus {
  background: #e6d330;
}

/* Node */
/* line 482, ../../../sass/colors/yellow/style.scss */
.node h2 a:hover, .node h2 a:focus {
  color: #e6d330;
}
/* line 486, ../../../sass/colors/yellow/style.scss */
.node .submitted .username {
  color: #e6d330;
}

/* line 491, ../../../sass/colors/yellow/style.scss */
.calendar-calendar {
  background: #e6d330;
}

/* line 495, ../../../sass/colors/yellow/style.scss */
span.username {
  color: #e6d330 !important;
}

/* line 501, ../../../sass/colors/yellow/style.scss */
.views-field-field-video-link a:before {
  color: #e6d330;
}

/* Page 404 */
/* line 509, ../../../sass/colors/yellow/style.scss */
.page-404 h1 {
  color: #e6d330;
}
/* line 513, ../../../sass/colors/yellow/style.scss */
.page-404 #errorbox a:hover, .page-404 #errorbox a:focus {
  background: #e6d330;
}

/* FAQs */
/* line 523, ../../../sass/colors/yellow/style.scss */
.faq .faq-question a:hover, .faq .faq-question a:focus {
  color: #e6d330;
}
/* line 526, ../../../sass/colors/yellow/style.scss */
.faq .faq-question a:before {
  color: #e6d330;
}
/* line 531, ../../../sass/colors/yellow/style.scss */
.faq .faq-question.faq-qa-visible a {
  color: #e6d330;
}

/* line 542, ../../../sass/colors/yellow/style.scss */
#content .forum-jump-links a.af-button-large:hover, #content .forum-jump-links a.af-button-large:focus,
#content .forum-jump-links a.af-button-small:hover,
#content .forum-jump-links a.af-button-small:focus,
#content .forum-jump-links a.author-pane-link:hover,
#content .forum-jump-links a.author-pane-link:focus {
  color: #e6d330;
}

/* line 548, ../../../sass/colors/yellow/style.scss */
.off-canvas-toggle {
  color: #e6d330;
}
/* line 550, ../../../sass/colors/yellow/style.scss */
.off-canvas-toggle:hover, .off-canvas-toggle:focus {
  color: #e6d330;
}

/* line 558, ../../../sass/colors/yellow/style.scss */
ul.inline li a.active:hover, ul.inline li a.active:focus {
  color: #e6d330;
}

/* line 568, ../../../sass/colors/yellow/style.scss */
.af-button-large:hover, .af-button-large:focus,
.af-button-small:hover,
.af-button-small:focus,
.author-pane-link:hover,
.author-pane-link:focus {
  background: #e6d330 !important;
  color: #fff !important;
  border-color: #e6d330 !important;
}

/* line 578, ../../../sass/colors/yellow/style.scss */
.item-list .pager .pager-previous a:before,
.item-list .pager .pager-next a:before {
  color: #e6d330;
}

/* line 587, ../../../sass/colors/yellow/style.scss */
.comment ul.inline li a:hover, .comment ul.inline li a:focus {
  background: #e6d330;
  color: #fff;
  border-color: #e6d330;
}

/* line 598, ../../../sass/colors/yellow/style.scss */
.forum-jump-links .af-button-large:hover, .forum-jump-links .af-button-large:focus, .forum-jump-links .af-button-small:hover, .forum-jump-links .af-button-small:focus, .forum-jump-links .author-pane-link:hover, .forum-jump-links .author-pane-link:focus {
  background: transparent !important;
  color: #e6d330 !important;
}

/* line 605, ../../../sass/colors/yellow/style.scss */
span.forum-collapsible::before {
  background: #bdab14;
}
